// Font family
$font-family: -apple-system, Helvetica Neue, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
// breakpoints
$width-tab: 1024px;
$width-mobile: 450px;
$height-mobile: 815px;
