// Color pallete
$color-background: #ffff;
$color-primary: #363636;
$color-secondary: #707070;
$color-tertiary: #b3b3b3;
$color-link: #0075fa;
// Font family
$font-family: -apple-system, Helvetica Neue, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
// breakpoints
$width-tab: 1024px;
$width-mobile: 450px;
$height-mobile: 815px;
