// Color palette
$color-background: #ffff;
$color-primary: #363636;
$color-secondary: #707070;
// Font
$font-family: -apple-system, Helvetica Neue, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
$min_width: 380px;
$max_width: 1000px;
$min_font: 22px;
$max_font: 35px;
