@import './variables';
@import './mixins';
@import './normalize';
@import './pages';
@import './components';

// Debug outline
// * {
//   outline: 1px solid red;
// }

a {
  color: $color-primary;
}

.site-nav ul {
  @include flex(row, space-around, center);
  .active {
    text-decoration: underline;
  }
}

footer {
  position: relative;
  top: 99%;
  @include flex(column, center, center);
}

.layout-container {
  // .layout {
  margin: 0 auto;
  // min-height: 100%;
  height: 100vh;
  max-width: 960;
  padding: 0 1.0875rem 1.45rem;
  // }
}
