@import './variables';
@import './mixins';
@import './normalize';
@import './pages';
@import './templates';
@import './components';

a {
  color: $color-primary;
}

footer {
  @include flex(column, center, center);
}

h1.page-header-title {
  text-align: center;
}

.layout {
  background: url(../images/background-logo.svg) center no-repeat; //import is relative the SCSS main entry file
  background-size: contain;
  padding: 3% 10%;
  height: 100vh;
}

.btn {
  margin-top: 1em;
  padding: 10px 40px;
  background-color: rgba($color-background, 0.7);
  border: 1px solid rgba($color-secondary, 0.5);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.5s;
  transition-timing-function: ease-in-out;
  &:hover {
    color: $color-background;
    background-color: $color-secondary;
  }
}

.inline {
  display: inline-block;
}
