@import './variables';
@import './mixins';
@import './normalize';
@import './pages/index';

a {
  color: $color-primary;
}

.site-nav ul {
  margin: 1em;
  @include flex(row, space-around, center);
  .active {
    text-decoration: underline;
  }
}

footer {
  @include flex(column, center, center);
}

.layout {
  margin: 3% 10%;
  max-width: 90%;
}
