.layout.blog-post {
  background: none;
  main {
    margin: 0 2em;
    .blog-post-content {
      margin-top: 2em;
      a {
        color: $color-link;
        text-decoration: underline;
      }
    }
  }
}
