@import '../mixins';
@import '../variables';

.project-container {
  @include flex(row-reverse, space-between, flex-start);
  a {
    color: var(--color-vermilion);
    text-decoration: underline;
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  .project-image {
    margin: 2em 0;
    width: calc(80em + 20vw);
    @include shadow(20px, 4px);
  }
  .project-content {
    margin: 2em 4em 0 0;
    padding: 0.5em;
    min-width: 500px;
  }
}

@media screen and (max-width: $width-tab) {
  .project-container {
    flex-direction: column;
    .project-image {
      margin-bottom: 0;
      width: 100%;
    }
    .project-content {
      margin: 2em 0 0;
      padding: 0;
      min-width: 0;
    }
  }
}
