@import '../mixins';

.about {
  .about-content {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    p {
      width: 500px;
      @media screen and(max-width: 1160px) {
        width: auto;
      }
    }
    about-image {
      min-width: 20%;
    }
  }
}
