@import '../mixins';

.about {
  background-image: url(../images/website/egypt.svg),
    url(../images/website/sweden.svg), url(../images/website/japan.svg); //import is relative the SCSS main entry file
  background-position: bottom right, top right, bottom left;
  background-repeat: no-repeat;
  .about-content {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    p {
      width: 500px;
      @media screen and(max-width: 1160px) {
        width: auto;
      }
    }
    figure {
      min-width: 20%;
    }
  }
}
