@import '../variables';
@import '../mixins';

.blog-content {
  @include flex(column, flex-start, center);
  h1 {
    margin-bottom: 2em;
  }
  .posts-container {
    padding-bottom: 3em;
    .post {
      margin-bottom: 0;
      padding: 1.5em;
      background-color: $color-background;
      border: 0.1px solid $color-tertiary;
    }
  }
}

.post-header {
  margin-bottom: 0.5em;
  a:hover {
    color: $color-link;
  }
  h1,
  h4 {
    margin-bottom: 0.2em;
    transition: color ease-in-out 0.2s;
  }
  .category {
    padding: 0.2em 0.4em;
    background-color: $color-tertiary;
    color: $color-background;
    border-radius: 5px;
  }
}
.post-tags {
  margin-left: 1em;
  small {
    margin: 0.1em 0.3em;
    text-align: center;
    text-decoration: underline;
  }
}

// mobile version
@media screen and (max-width: $width-mobile) {
  .blog-content {
    .posts-container {
      margin: 0;
      padding: 0 0 3em;
    }
  }
}
