@import '../variables';
@import '../mixins';

p.contact-me-intro {
  margin: 0 auto;
  width: 50%;
  @media screen and (max-width: $width-mobile) {
    width: fit-content;
  }
}

form {
  @include flex(column, center, center);
  margin: 3% 25%;
  @media screen and (max-width: $width-mobile) {
    margin: 0;
  }
  * {
    margin: 2em;
  }
  input,
  textarea {
    width: 100%;
    border: none;
    border-bottom: solid 2px var(--color-tertiary);
    transition: border-color 0.25s ease-in-out;
    &:focus {
      outline: none;
      border-color: var(--color-vermilion);
    }
  }
  textarea {
    min-height: 120px;
    resize: none;
  }
  .contact-by-email {
    margin-top: 0;
    * {
      margin: 0.2em;
    }
    a {
      text-decoration: underline;
    }
  }
}
