@import '../variables';
@import '../mixins';

form {
  @include flex(column, flex-start, flex-start);
  margin: 10em;

  input,
  textarea {
    width: 100%;
    // position: relative;
    border: none;
    border-bottom: solid 2px $color-secondary;

    &:focus {
      outline: none;
      border-color: $color-primary;
    }
  }
  textarea {
    min-height: 120px;
  }
}
