@import '../variables';
@import '../mixins';

.home {
  main {
    @include flex(column, center, center);
    margin: 7em 0 7em;
    height: 100%;

    text-align: center;
    font-weight: normal;
    .profession {
      // @media screen and (min-width: $min_width) {
      //   margin-top: 3em;
      // }
      @include homepage-text(1.5em, 1em);
    }
    .name {
      @include homepage-text(1.6em, 38px);
    }
    .do {
      @include homepage-text(1em, 18px);
    }
    .you {
      @include homepage-text(1em, 32px);
    }
  }
  .contact-btn {
    margin-top: 1em;
    background-color: $color-background;
    // opacity: 0.1;
    // label {
    //   opacity: 1;
    // }
  }
}
