@import '../mixins';
@import '../variables';

.home {
  main {
    @include flex(column, center, center);
    text-align: center;
    .profession {
      position: relative;
      left: -25%;
      margin: 6vh 0 5vh;
      font-weight: normal;
      font-size: calc(1em + 2vw);
    }
    .name {
      font-size: calc(1em + 6vw);
      text-transform: capitalize;
      letter-spacing: 1rem;
    }
    .do {
      position: relative;
      left: 15%;
      margin: 5vh 0 5vh;
      font-weight: normal;
      font-size: calc(1em + 2vw);
      @media screen and (max-width: $width-mobile) {
        position: static;
      }
    }
    .you {
      font-size: calc(1em + 3vw);
    }
    .btn {
      margin: 5vh 0 10vh;
    }
  }
}

// mobile version
@media screen and (max-width: $width-mobile) {
  .home main {
    padding-top: 8em;
    .profession {
      position: static;
    }
    .do {
      position: static;
    }
  }
}
