@import '../mixins';
@import '../variables';

.projects-content {
  .projects-container {
    @include flex(row, space-around, center);
    flex-wrap: wrap;
    margin: 0;
    .project {
      position: relative;
      margin: 1em;
      min-width: 15em;
      text-align: center;
      font-weight: bold;
      p {
        display: none;
      }
      .project-image {
        transition: filter 0.25s ease-in-out;
        &:hover {
          filter: brightness(70%);
          + p {
            display: inline;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $color-background;
            text-shadow: 1px 1px 5px $color-primary;
          }
        }
      }
    }
  }
}
