@import '../mixins';
@import '../variables';

.work {
  background: url(../images/website/logo.svg) center no-repeat; //import is relative the SCSS main entry file
  .categories-container {
    @include flex(row, center, center);
    flex-wrap: wrap;
    figure {
      min-width: 20%;
      position: relative;
      text-align: center;
      color: $color-background;
      figcaption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // text-shadow: $color-primary;
      }
    }
  }
}
