@import '../mixins';
@import '../variables';

.projects-content {
  .projects-container {
    @include flex(row, center, center);
    flex-wrap: wrap;
    margin: 1em 0;
    height: 100%;
    .project {
      position: relative;
      margin: 1em;
      width: 500px;
      min-width: 15em;
      text-align: center;
      font-weight: bold;
      p {
        display: none;
      }
      .project-image {
        @include shadow(20px, 1px);
        transition: filter 0.25s ease-in-out;
        &:active,
        &:hover {
          filter: brightness(70%);
          + p {
            display: inline;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--color-project-card-hover);
            text-shadow: 1px 1px 5px hsl(0, 0%, 21%);
          }
        }
      }
    }
  }
}

// mobile
@media screen and (max-width: $width-mobile) {
  .projects-content {
    .projects-container {
      padding: 1em 0 5em;
      .project {
        margin: 0;
        width: 100%;
      }
    }
  }
}
