@import '../mixins';
@import '../variables';

.site-nav {
  margin: 1em;
  @include flex(row, space-around, center);
  a {
    padding: 0 0.2em 0.5em;
    color: var(--color-secondary);
    transition: color ease-in-out 0.3s;
    &:hover {
      color: var(--color-vermilion-hover);
    }
  }
  .active:not(.home-link) {
    border-bottom: 2px solid var(--color-vermilion);
    color: var(--color-vermilion);
  }
  .home-link {
    width: 42px;
    height: 42px;
    background: url('../images/logo.png');
    background-size: cover;
  }
}
